<!DOCTYPE html>
<html>
  <head>
    <title>DeliRecipes App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <!--render navigation from layouts/navigation.html.erb-->
  <%= render 'layouts/navigation' %>

  <div class="container">
    <%= yield %>

    <!--render footer from layouts/footer.html.erb-->
  	<%= render 'layouts/footer' %>
    
  </div>
  </body>
</html>
